.landing-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
}
/* @media (max-width: 768px){ */
    .btn-login{
        margin-right: 5vh;
    }
/* } */